menu "Pandion Flight Control"
    menu "GPIO Pins"
        config RWTILT_GPIO
            int "RW Tilt GPIO"
            default 19
            range 1 39

        config RWTRANS_GPIO
            int "RW Transition GPIO"
            default 21
            range 1 39

        config RWPROP_GPIO
            int "RW Propeller GPIO"
            default 22
            range 1 39

        config LWTILT_GPIO
            int "LW Tilt GPIO"
            default 23
            range 1 39

        config LWTRANS_GPIO
            int "LW Transition GPIO"
            default 25
            range 1 39

        config LWPROP_GPIO
            int "LW Propeller GPIO"
            default 26
            range 1 39

        config AFTPROP_GPIO
            int "Aft Propeller GPIO"
            default 27
            range 1 39

        config ELEVATOR_GPIO
            int "Elevator GPIO"
            default 32
            range 1 39

        config RUDDER_GPIO
            int "Rudder GPIO"
            default 33
            range 1 39
    endmenu
    
    menu "PID Values"
        config PID_HORIZ_PX_GAIN
            int  "PID Horizontal X Position Gain"
            default 10
        config PID_HORIZ_IX_GAIN
            int "PID Horizontal X Integral Gain"
            default 0
        config PID_HORIZ_DX_GAIN
            int "PID Horizontal X Derivative Gain"
            default 0

        config PID_HORIZ_PY_GAIN
            int  "PID Horizontal Y Position Gain"
            default 10
        config PID_HORIZ_IY_GAIN
            int "PID Horizontal Y Integral Gain"
            default 0
        config PID_HORIZ_DY_GAIN
            int "PID Horizontal Y Derivative Gain"
            default 0

        config PID_HORIZ_PZ_GAIN
            int  "PID Horizontal Z Position Gain"
            default 10
        config PID_HORIZ_IZ_GAIN
            int "PID Horizontal Z Integral Gain"
            default 0
        config PID_HORIZ_DZ_GAIN
            int "PID Horizontal Z Derivative Gain"
            default 0
        
        config PID_VERT_PX_GAIN
            int  "PID Vertical X Position Gain"
            default 10
        config PID_VERT_IX_GAIN
            int "PID Vertical X Integral Gain"
            default 0
        config PID_VERT_DX_GAIN
            int "PID Vertical X Derivative Gain"
            default 0

        config PID_VERT_PY_GAIN
            int  "PID Vertical Y Position Gain"
            default 10
        config PID_VERT_IY_GAIN
            int "PID Vertical Y Integral Gain"
            default 0
        config PID_VERT_DY_GAIN
            int "PID Vertical Y Derivative Gain"
            default 0

        config PID_VERT_PZ_GAIN
            int  "PID Vertical Z Position Gain"
            default 10
        config PID_VERT_IZ_GAIN
            int "PID Vertical Z Integral Gain"
            default 0
        config PID_VERT_DZ_GAIN
            int "PID Vertical Z Derivative Gain"
            default 0
            
        config MAX_ROLL_RATE
            int "Max roll rate (millideg/sec)"
            default 30000
        config MAX_PITCH_RATE
            int "Max pitch rate (millideg/sec)"
            default 30000
        config MAX_YAW_RATE
            int  "Max yaw rate (millideg/sec)"
            default 30000
    endmenu
endmenu